<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/index}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
<p>
    <label>MEMBER_ID</label>
    <input type="text" name="memberId" th:value="${memberParam.memberId}" readonly/>
</p>
<p>
   <label>MEMBER_PW</label>
    <input type="text" name="memberPw" th:value="${memberParam.memberPw}" readonly/>
</p>
<p>
    <label>NAME</label>
    <input type="text" name="name" th:value="${memberParam.name}" readonly/>
</p>

<p>[[${memberParam.roles}]]</p>
</div>
</html>