<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>/admin for admin</h1>

<hr/>
<h3 sec:authentication="name">Spring security username</h3>
<h3>[[${#authentication}]]</h3>
<hr/>
<p sec:authorize-url="/admin/aaa">
    <a href="/admin/aaa">ADMIN AAA</a>
</p>

<p sec:authorize-url="/manager/aaa">
    <a href="/manager/aaa">MANAGER AAA</a>
</p>

<h1 sec:authorize="hasRole('ROLE_ADMIN')">
    This content is only for administrators.
</h1>
<div>[[${#authentication.principal.member}]]</div>
<div>[[${#authentication.principal.member.name}]]</div>
</body>
</html>