<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Site Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- http://bootstrapk.com/getting-started/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- https://html5boilerplate.com/ -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/vendor/modernizr-3.11.2.min.js}"></script>

    <!-- main page javascript -->
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
<div class="page-header">
    <h1>여기는 GNB입니다!!!</h1>
</div>
<!-- 화면별 변하는 부분 -->
<div class="panel panel-default" layout:fragment="content">
    <p>Layout Content</p>
</div>
<footer layout:fragment="footer">
    <p>Footer!!!</p>
</footer>

<!-- 화면별 각 script -->
<th:block layout:fragment="script"></th:block>

</body>
</html>