<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{/index}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="panel-heading">Register Page</div>
    <div class="panel-body">
        <form th:accept="@{register}" method="post" id="f1">
            <div class="form-group">
                <label>Title</label><input class="form-control" id="title" name="title" th:value="${vo.title}"/>
                <p Class="help-block">Title text here</p>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" rows="3" id="content" name="content" th:text="${vo.content}"></textarea>
            </div>
            <div class="form-group" th:with="memberInfo=${#authentication.principal.memberInfo}">
                <label>Writer</label>
                <input class="form-control" th:value="${vo.memberInfo?.name}" readonly="readonly" />
            </div>
            <button id="submitBtn" class="btn btn-default">Submit Button</button>
            <button type="reset" class="btn btn-primary">Reset Button</button>
            <!-- 숨기기 -->
            <input type="hidden" name="delYN" th:value="N" />
            <!--<input type="hidden" name="memberInfo.memberSeq" th:value=1 th:text="${vo?.memberInfo?.memberSeq}" />-->
        </form>
    </div>
    <!-- end panel -->

</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            var formObj = $("#f1");
            $("#submitBtn").click(function(e){
                e.preventDefault();
                var chk ="";

                if($("#title").val().trim() == ""){
                    chk = "제목을";
                }else if($("#content").val().trim()== ""){
                    chk = "내용을";
                }else{

                }
                if(chk!=""){
                    alert(chk + " 입력하세요");
                    return;
                }

                formObj.submit();
            });
        });

    </script>
</th:block>
</html>
