<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/index}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="panel-heading">View Page</div>
    <div class="panel-body">
        <div class="form-group">
            <label>BNO</label><input class="form-control" name="bno" th:value="${vo.bno}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>Title</label><input class="form-control" name="title" th:value="${vo.title}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3" name="content" th:text="${vo.content}"  readonly="readonly"></textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input class="form-control" th:value="${vo.memberInfo.name}"  readonly="readonly" />
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input class="form-control" th:value="${#dates.format(vo.regdate,'yyyy-MM-dd')}"  readonly="readonly" />
        </div>
    </div>
    <!-- end panel -->
    <div class="pull-right">
        <a th:href="@{modify(page=${pageVO.page}, size=${pageVO.size},type=${pageVO.type},
        keyword=${pageVO.keyword},bno=${vo.bno})}" class="btn btn-default">Modify/Delete</a>
        <a th:href="@{list(page=${pageVO.page}, size=${pageVO.size},type=${pageVO.type},
        keyword=${pageVO.keyword},bno=${vo.bno})}" class="btn btn-primary">Go List</a>
    </div>
</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>
</html>
