<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{/index}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <div class="panel-heading">View Page</div>
    <div class="panel-body">
        <div class="form-group">
            <label>BNO</label><input class="form-control" name="bno" th:value="${vo.bno}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>Title</label><input class="form-control" name="title" th:value="${vo.title}" readonly="readonly"/>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3" name="content" th:text="${vo.content}"  readonly="readonly"></textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input class="form-control" th:value="${vo.memberInfo.name}"  readonly="readonly" />
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input class="form-control" th:value="${#dates.format(vo.regdate,'yyyy-MM-dd')}"  readonly="readonly" />
        </div>
    </div>
    <!-- end panel -->
    <div class="pull-right" th:with="memberId=${#authentication.principal} eq 'anonymousUser'? 'Guest':${#authentication.principal.member.memberId}" >
        <a th:if="${memberId} eq ${vo.memberInfo.memberId}"
           th:href="@{modify(page=${pageVO.page}, size=${pageVO.size},type=${pageVO.type},
        keyword=${pageVO.keyword},bno=${vo.bno})}" id="goModBtn" class="btn btn-default">Modify/Delete</a>
        <a th:href="@{list(page=${pageVO.page}, size=${pageVO.size},type=${pageVO.type},
        keyword=${pageVO.keyword},bno=${vo.bno})}" class="btn btn-primary">Go List</a>
    </div>

    <div class="container">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>RNO</th>
                <th>REPLY TEXT</th>
                <th>REPLER</th>
                <th>REPLY DATE</th>
            </tr>
            </thead>
            <tbody id="replyTable">

            </tbody>
        </table>
    </div>
</div>
<!-- end fragment -->

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>

    <script th:inline="javascript">

        $(document).ready(function (e) {

            (function () {
                replyManager.getAll([[${vo.bno}]], printList);
            })();

            function printList(list) {
                var str="";
                var replyObj;
                for(var i=0; i<list.length; i++){
                    replyObj = list[i];

                    str+= "<tr>" +
                            "<td>"+replyObj.rno+"</td>"+
                            "<td>"+replyObj.replyText+"</td>"+
                            "<td>"+replyObj.memberInfo.name+"</td>"+
                            "<td>"+formatDate(replyObj.regdate)+"</td>"+
                        "</tr>";
                }
                $("#replyTable").html(str);
            }

            function formatDate(timeValue) {
                var date = new Date(timeValue);
                return date.getFullYear()+"-"+(date.getMonth()+1 >=10?
                    date.getMonth()+1: '0'+(date.getMonth()+1))+"-"+date.getDate();
            }
        });

        $("#goModBtn").click(function(e){

            var memberId = [[${#authentication.principal} eq 'anonymousUser'? null:${#authentication.principal.member.memberId}]];

            e.preventDefault();
            if(memberId == null){
                if(confirm("로그인할까요?")){
                    //self.location = [[@{/login}]];
                    self.location = $(this).attr("href");
                }
            }else{
                if(memberId == [[${vo.memberInfo.memberId}]]){
                    self.location = $(this).attr('href');
                }else{
                    alert( memberId + "작성자만이 수정이나 삭제할 수 있습니다");
                }
            }
        });

    </script>
</th:block>
</html>
